/* progress bar */
.test {
    color: red;
}

#bar {
    /*width: 100%;*/
    height: .2rem;
    text-align: center;
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
}

#bar::-moz-progress-bar {
    background: lightgray;
}

#bar::-webkit-progress-value {
    background: #18d618;
}

#bar::-webkit-progress-bar {
    background: lightgray;
}
