.sidebar::-webkit-scrollbar {
    background: transparent;
    display: none;
    width: 5px;
}

.sidebar:hover::-webkit-scrollbar {
    display: block;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
    background: #bdc3c7;
    border-radius: 10px;
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
    background: #bdc3c7;
}

/* progress bar */
.test {
    color: red;
}

#bar {
    /*width: 100%;*/
    height: .2rem;
    text-align: center;
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
}

#bar::-moz-progress-bar {
    background: lightgray;
}

#bar::-webkit-progress-value {
    background: #18d618;
}

#bar::-webkit-progress-bar {
    background: lightgray;
}
